option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "marketplace.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "marketplace.wsgi:application"
  aws:elasticbeanstalk:environment:proxy:  
    ProxyServer: apache  

files:
  "/etc/httpd/conf.d/eb_healthcheck.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
        <If "req('User-Agent') == 'ELB-HealthChecker/1.0' && %{REQUEST_URI} == '/status/'">
            RequestHeader set Host "connectopasal.com"
        </If>                  

container_commands:
  01_makemigrations:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations  --noinput"
    leader_only: true
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate  --noinput"
    leader_only: true
  03_makemigrations:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations myshop  --noinput"
    leader_only: true
  04_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate myshop --noinput"
    leader_only: true
  05_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
    leader_only: true